@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/static/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/static/Roboto-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/static/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/static/Roboto-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/static/Roboto-ExtraBold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* breakpoints */
/**********************************/
html {
  color: #FFFFFF;
  font-size: 10px;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-size: 1.8rem;
  font-family: "Roboto" !important;
  color: #2C3E4F;
  overflow-x: hidden;
  background: #FFFFFF;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}
a:visited {
  color: inherit;
}
a:hover, a:active {
  color: inherit;
}
a:hover:visited, a:active:visited {
  color: inherit;
}
a:focus {
  outline: 0;
}
a:hover, a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 0.1rem dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 0.15rem;
  border: 0;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: none;
  color: #FFFFFF;
  text-decoration: underline;
}

del {
  background: none;
  color: #BB1010;
  text-decoration: line-through;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

small {
  font-size: 85%;
}

big {
  font-size: 125%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-size: inherit;
  line-height: inherit;
  font-family: "Roboto" !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 0.5em;
  padding-bottom: 0;
}

ul, ol {
  margin: 0 0 1em 0.75em;
  padding: 0 0 1em 0.75em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

.container {
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 124rem;
}

.full-container {
  width: 100%;
  max-width: 100%;
  padding: 0 2rem;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

h1, h2, h3, h4, h5, h6 {
  color: #2C3E4F;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3.5rem;
}

h5 {
  font-size: 2.5rem;
}

h6 {
  font-size: 2rem;
}

p, li {
  font-size: 1.7rem;
  color: rgba(44, 62, 79, 0.7490196078);
}

.enq-btn-red {
  background: #D0011A;
  border-radius: 3rem;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.7rem 4.3rem 1.7rem 2.6rem;
  max-height: 6rem;
  text-shadow: none;
  -webkit-box-shadow: 0px 10px 25px 0px rgba(6, 28, 61, 0.2509803922);
          box-shadow: 0px 10px 25px 0px rgba(6, 28, 61, 0.2509803922);
  opacity: 1;
  max-width: 280px;
  -webkit-transition: 0.7s ease all;
  transition: 0.7s ease all;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.344rem;
  color: #FFFFFF;
}
.enq-btn-red:focus, .enq-btn-red:visited {
  -webkit-transition: 0.7s ease all;
  transition: 0.7s ease all;
  color: #FFFFFF;
  transition: 0.7s ease all;
}

.aprt-blk .first-blk .mySwiper {
  padding-top: 6.4rem;
  padding-bottom: 4.1rem;
}
.aprt-blk .first-blk .mySwiper .swiper-pagination {
  --swiper-theme-color: #c1c1c1;
}
.aprt-blk .first-blk .mySwiper .swiper-wrapper {
  text-align: center;
}
.aprt-blk .first-blk .swip-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.6rem;
  padding-bottom: 24.7rem;
}
.aprt-blk .first-blk .swip-txt h2 {
  color: white !important;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 4.5rem;
  max-width: 29rem;
}
.aprt-blk .first-blk .swip-txt .enq-btn-red {
  width: 100%;
  max-width: 23.5rem;
}

.logo-sec {
  padding-top: 3rem;
  position: absolute;
  z-index: 1;
  width: 100%;
}
.logo-sec .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.logo-sec .logo .qr-blk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
}
.logo-sec .logo .qr-blk .qr-detail {
  padding: 2px;
}
.logo-sec .logo .qr-blk h3 {
  list-style: none;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
}

.home-banner-sec img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}
@media (max-width: 1080px) {
  .home-banner-sec img {
    min-height: unset;
  }
}
.home-banner-sec .form-sec {
  position: absolute;
  background-color: #FFFFFF;
  max-width: 380px;
  padding: 43px 50px 0px 50px;
  z-index: 1;
  right: 100px;
  top: 195px;
}
.home-banner-sec .form-sec h2 {
  font-size: 2.6rem;
  line-height: 3.047rem;
  font-weight: 700;
  color: #0B397D;
  padding-bottom: 2.2rem;
  text-align: center;
}
.home-banner-sec .form-sec .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.home-banner-sec .form-sec .form label {
  color: rgba(44, 62, 79, 0.7490196078);
  font-size: 1.6rem;
  line-height: 1.875rem;
  font-weight: 400;
}
.home-banner-sec .form-sec .form input {
  width: 280px;
  height: 45px;
  margin-bottom: 1rem;
  border: 1px solid rgba(22, 154, 216, 0.3019607843);
}
.home-banner-sec .form-sec .form textarea {
  border: 1px solid rgba(22, 154, 216, 0.3019607843);
}
.home-banner-sec .form-sec .enq-btn-red {
  bottom: -30px;
}

.apart-sec .aprt-blk {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.apart-sec .aprt-blk .first-blk {
  width: 33.25%;
  background-color: #264756;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.apart-sec .aprt-blk .second-blk {
  width: 66.75%;
  background-color: #F7F9FB;
}
.apart-sec .aprt-blk .second-blk .sec-outer {
  padding-left: 62px;
}
.apart-sec .aprt-blk .second-blk .sec-outer .scnd-head-txt h1 {
  padding-top: 5.8rem;
  padding-bottom: 0.4rem;
  font-size: 4.5rem;
  line-height: 5rem;
  font-weight: 700;
}
@media (max-width: 1080px) {
  .apart-sec .aprt-blk .second-blk .sec-outer .scnd-head-txt h1 {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  .apart-sec .aprt-blk .second-blk .sec-outer .scnd-head-txt h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 580px) {
  .apart-sec .aprt-blk .second-blk .sec-outer .scnd-head-txt h1 {
    font-size: 2.5rem;
  }
}
.apart-sec .aprt-blk .second-blk .sec-outer .scnd-head-txt h2 {
  font-size: 2.6rem;
  line-height: 3.047rem;
  padding-bottom: 1.3rem;
  font-weight: 500;
  color: rgba(44, 62, 79, 0.7490196078);
}
@media (max-width: 1080px) {
  .apart-sec .aprt-blk .second-blk .sec-outer .scnd-head-txt h2 {
    font-size: 1.6rem;
  }
}
.apart-sec .aprt-blk .second-blk .sec-outer .scnd-head-txt p {
  margin: 0;
  font-size: 1.8rem;
  line-height: 2.109rem;
  font-weight: 400;
  color: #2C3E4F;
}
@media (max-width: 1080px) {
  .apart-sec .aprt-blk .second-blk .sec-outer .scnd-head-txt p {
    font-size: 1.4rem;
  }
}
.apart-sec .aprt-blk .second-blk .sec-outer .loc-blk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 11.6px;
}
.apart-sec .aprt-blk .second-blk .sec-outer .amenities-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.apart-sec .aprt-blk .second-blk .sec-outer .amenities-sec .amn-head h2 {
  padding-top: 3.6rem;
  padding-bottom: 2.8rem;
  font-size: 2.2rem;
  line-height: 2.578rem;
  font-weight: 400;
}
@media (max-width: 1080px) {
  .apart-sec .aprt-blk .second-blk .sec-outer .amenities-sec .amn-head h2 {
    font-size: 1.6rem;
  }
}
.apart-sec .aprt-blk .second-blk .sec-outer .amenities-sec .amn-head span {
  font-size: 2.2rem;
  line-height: 2.578rem;
  font-weight: 600;
}
@media (max-width: 1080px) {
  .apart-sec .aprt-blk .second-blk .sec-outer .amenities-sec .amn-head span {
    font-size: 1.6rem;
  }
}
.apart-sec .aprt-blk .second-blk .sec-outer .amenities-sec .amn-blk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
@media (max-width: 1080px) {
  .apart-sec .aprt-blk .second-blk .sec-outer .amenities-sec .amn-blk {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.apart-sec .aprt-blk .second-blk .sec-outer .amenities-sec .amn-blk .amn-cnt-blk {
  width: 100%;
  max-width: 97px;
  gap: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.apart-sec .aprt-blk .second-blk .sec-outer .amenities-sec .amn-blk .amn-cnt-blk p {
  margin: 0;
  font-size: 1.3rem;
  line-height: 1.523rem;
  font-weight: 400;
}
.apart-sec .aprt-blk .second-blk .sec-outer .proximity-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.apart-sec .aprt-blk .second-blk .sec-outer .proximity-sec .prox-head h2 {
  padding-top: 3.5rem;
  padding-bottom: 2.7rem;
  font-size: 2.2rem;
  line-height: 2.578rem;
  font-weight: 400;
}
@media (max-width: 1080px) {
  .apart-sec .aprt-blk .second-blk .sec-outer .proximity-sec .prox-head h2 {
    font-size: 1.6rem;
  }
}
.apart-sec .aprt-blk .second-blk .sec-outer .proximity-sec .prox-head span {
  font-size: 2.2rem;
  line-height: 2.578rem;
  font-weight: 600;
}
@media (max-width: 1080px) {
  .apart-sec .aprt-blk .second-blk .sec-outer .proximity-sec .prox-head span {
    font-size: 1.6rem;
  }
}
.apart-sec .aprt-blk .second-blk .sec-outer .proximity-sec .pro-km-blk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 134px;
}
@media (max-width: 1080px) {
  .apart-sec .aprt-blk .second-blk .sec-outer .proximity-sec .pro-km-blk {
    gap: 14px;
  }
}
.apart-sec .aprt-blk .second-blk .sec-outer .proximity-sec .pro-blk .pro-sec-head h2 {
  font-size: 1.6rem;
  line-height: 1.875rem;
  font-weight: 400;
}
.apart-sec .aprt-blk .second-blk .sec-outer .proximity-sec .pro-blk .pro-sec-head h3 {
  font-size: 3rem;
  line-height: 3.516rem;
  font-weight: 500;
}
.apart-sec .aprt-blk .second-blk .sec-outer .proximity-sec .pro-blk .pro-sec-head h3 span {
  font-size: 1.6rem;
  line-height: 1.875rem;
  font-weight: 400;
}
.apart-sec .aprt-blk .second-blk .sec-outer .proximity-sec .pro-km-blk .pro-sec-head h3 {
  padding-bottom: 2.1rem;
}
.apart-sec .aprt-blk .second-blk .sec-outer .proximity-sec .pro-km-blk .pro-cntnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.apart-sec .aprt-blk .second-blk .sec-outer .proximity-sec .pro-km-blk .pro-cntnt p {
  margin: 0;
  padding-bottom: 1.7rem;
}
@media (max-width: 1080px) {
  .apart-sec .aprt-blk .second-blk .sec-outer .proximity-sec .pro-km-blk .pro-cntnt p {
    font-size: 1.5rem;
  }
}
.apart-sec .aprt-blk .second-blk .sec-outer .proximity-sec .pro-km-blk .pro-cntnt img {
  padding-bottom: 1.7rem;
}

.about-sec .about-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 54px;
  padding-top: 10.1rem;
}
.about-sec .about-outer .about-cntnt p {
  max-width: 64rem;
  font-size: 1.7rem;
  line-height: 3.2rem;
  font-weight: 400;
  margin: 0;
  padding-bottom: 17px;
}
.about-sec .about-outer .abt-points-blk .abt-points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-sec .about-outer .abt-points-blk .abt-points p {
  padding-bottom: 10px;
}
.about-sec .about-outer .abt-video-blk {
  position: relative;
}
.about-sec .about-outer .abt-video-blk .video-blk {
  width: 100%;
  height: 100%;
  max-height: 21.2rem;
}
.about-sec .about-outer .abt-video-blk .video-blk .slick-list {
  margin-bottom: 5rem !important;
}
.about-sec .about-outer .abt-video-blk .video-blk a {
  display: inline-block;
  border-radius: 4rem;
  position: relative;
  width: 100%;
  max-height: 21.2rem;
}
.about-sec .about-outer .abt-video-blk .video-blk a img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-sec .about-outer .abt-video-blk .video-blk .play {
  content: "";
  position: absolute;
  background-image: url("../images/play-icon.svg");
  background-repeat: no-repeat;
  background-size: 5.5rem;
  width: 5.5rem;
  height: 5.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 90%;
}
@media screen and (max-width: 1280px) {
  .about-sec .about-outer .abt-video-blk .video-blk .play {
    background-size: 5rem;
    width: 5rem;
    height: 5rem;
  }
}
@media screen and (max-width: 1080px) {
  .about-sec .about-outer .abt-video-blk .video-blk .play {
    background-size: 4rem;
    width: 4rem;
    height: 4rem;
  }
}