.client-sec{
    .client-outer{
        padding-top: 12.2rem;
        @media (max-width: $sm) {
            padding-top: 3rem;
        }
        .client-head{
            text-align: center;
            h1{
                font-size: 4rem;
                line-height: 4.688rem;
                font-weight: 500;
                padding-bottom: 9px;
                @media (max-width: 834px) {
                    font-size: 3.5rem;                    
                }
                @media (max-width: $sm) {
                    font-size: 3.2rem;
                }
            }
            h3{
                font-size: 2.2rem;
                line-height: 3rem;
                font-weight: 400;
                padding-bottom: 30px;
                @media (max-width: $sm) {
                    font-size: 1.5rem;
                    line-height: 1rem;                
                }
            }
        }
        .client-slider{
            .swiper{
                .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
                    content: unset;
                }      
                .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
                    content: unset;
                }    

                .swiper-wrapper{
                    display: flex;
                    gap: 20px;
                    .swiper-slide{
                        // background-color: ;
                        box-shadow: 0px 10px 35px 0px #2C3E4F1A;
                        width: 413px !important;
                        display: flex;
                        flex-direction: column !important;
                        align-items: center !important;
                        p{
                            font-size: 1.6rem;
                            font-weight: 400;
                            line-height: 3.2rem;
                            max-width: 31rem;
                        }
                        h4{
                            font-size: 1.8rem;
                            font-weight: 400;
                            line-height: 2.4rem;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}